body{
    background: url(../assets/img/background2.webp) ;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;

}
h1{
    padding-left: 200px;
    font-family: 'Island Moments', cursive;
    font-size: 50px;
}
form{
    padding: 30px;
    padding-left: 200px;
}
img{
    padding-left: 200px;
}
.time {
    display:flex;
   padding-left: 200px;
}
.time1{
    padding-left: 10px;
    font-size: 20px;
}
.time2 {
    padding-left: 30px;
    padding-top: 5px;
    padding-left: 30px;
    font-size: 20px;
}